<ion-view view-title="出版页面" id="publish">
    <ion-content class="scroll-content" scroll="true">
        <!--头部-->
        <div class="header">
            <div class="header-left">
                <i class="ion-left ion-chevron-left" ng-click="func_back()"></i>
            </div>
            <div class="header-center">
                <span>出版</span>
            </div>
        </div>
        <!--出版分类-->
        <div class="duanPian">
            <div class="content">
                <div class="content-left">
                    <img src="img/publish/book1.png">
                </div>
                <div class="content-title">
                    <div class="titleFirst">
                        <span>短篇</span>
                    </div>
                    <div class="titleSecond">
                        <span>儿童文学 |评论文集 |影视剧本</span>
                    </div>
                </div>
                <div class="content-right">
                    <i class="ion-right ion-chevron-right" ng-click="goShortStory()"></i>
                </div>
            </div>
            <div class="bookPicture">
                <div class="picture1">
                    <img src="img/publish/publish1.png">
                </div>
                <div class="picture2">
                    <img src="img/publish/publish2.png">
                </div>
                <div class="picture3">
                    <img src="img/publish/publish3.jpg">
                </div>
            </div>
        </div>
        <div class="modern">
            <div class="content">
                <div class="content-left">
                    <img src="img/publish/book2.png">
                </div>
                <div class="content-title">
                    <div class="titleFirst">
                        <span>现代文学</span>
                    </div>
                    <div class="titleSecond">
                        <span>文学小说 |原创出版 |职场风云</span>
                    </div>
                </div>
                <div class="content-right">
                    <i class="ion-right ion-chevron-right" ng-click="goShortStory()"></i>
                </div>
            </div>
            <div class="bookPicture">
                <div class="picture1">
                    <img src="img/publish/publish3.png">
                </div>
                <div class="picture2">
                    <img src="img/publish/publish4.png">
                </div>
                <div class="picture3">
                    <img src="img/publish/publish5.png">
                </div>
            </div>
        </div>
        <div class="classics">
            <div class="content">
                <div class="content-left">
                    <img src="img/publish/book3.png">
                </div>
                <div class="content-title">
                    <div class="titleFirst">
                        <span>经典名著</span>
                    </div>
                    <div class="titleSecond">
                        <span>古典名著 |社科科普 |经管励志</span>
                    </div>
                </div>
                <div class="content-right">
                    <i class="ion-right ion-chevron-right" ng-click="goShortStory()"></i>
                </div>
            </div>
            <div class="bookPicture">
                <div class="picture1">
                    <img src="img/publish/publish6.png">
                </div>
                <div class="picture2">
                    <img src="img/publish/publish7.png">
                </div>
                <div class="picture3">
                    <img src="img/publish/publish3.jpg">
                </div>
            </div>
        </div>
        <div class="others">
            <div class="content">
                <div class="content-left">
                    <img src="img/publish/book4.png">
                </div>
                <div class="content-title">
                    <div class="titleFirst">
                        <span>其他出版</span>
                    </div>
                    <div class="titleSecond">
                        <span>悬疑惊悚 |文史传记 |昔日战场</span>
                    </div>
                </div>
                <div class="content-right">
                    <i class="ion-right ion-chevron-right" ng-click="goShortStory()"></i>
                </div>
            </div>
            <div class="bookPicture">
                <div class="picture1">
                    <img src="img/publish/publish1.png">
                </div>
                <div class="picture2">
                    <img src="img/publish/publish2.png">
                </div>
                <div class="picture3">
                    <img src="img/publish/publish3.jpg">
                </div>
            </div>
        </div>
    </ion-content>
</ion-view>