/**
*   短篇-样式
 */
 #shortStory {
    height: 100%;
    width: 100%;
}
.shortStory_head .buttons .button-clear{
    font-size: 25px;
}

a{
    text-decoration: none;
}

a:active{
    text-decoration: none;
}
a:visited{
    text-decoration: none;
}

.home-content{
    position: fixed;
    top: 45px;
}
.home-content>div{
    display: inline-block;
    width: 25%;
    float: left;
  }
  
.find_nav {
    width: 100%;
    height: 45px;
    background-color: #f9f9f9;
    position: fixed;
    top: 45px;
    z-index: 99;
    display: -moz-box;
    display: -webkit-box;
    display: box;
  }
  
  .find_nav_left {
    height: 46px;
    position: relative;
    overflow: hidden;
    -moz-box-flex: 1;
    -webkit-box-flex: 1;
    box-flex: 1;
  }
  
  .find_nav_list {
    position: absolute;
    padding-left: 35px
  }
  
  .find_nav_list ul {
    position: relative;
    white-space: nowrap;
    font-size: 0;
  }
  
  .find_nav_list ul li {
    display: inline-block;
    /* padding: 0 13px; */
  }
  .find_nav_list ul li :not(:last-child) {
    margin-left: 5px;
  }
  
  .find_nav_list ul li a {
    display: block;
    width: 100%;
    height: 100%;
    line-height: 46px;
    font-size: 18px;
    text-align: center;
    color: #666;
  }
  
  .find_nav_cur a {
    color: #e05d27 !important;
  }
  
  .home-active {
    transform: scale(1.2);
  }
  
  .nav-tab-a {
    display: inline-block;
    text-decoration: none;
    color: black;
    height: 32px;
    line-height: 32px;
    text-align: center;
    margin-right: 20px;
  }
  

#shortStory_book {
    margin-top: 50px;
}
#shortStory .book{
    height:200px;
    width:100%;
    margin-top: 11px;
    float: left;
}
#shortStory .bookPicturey{
    height:200px;
    width:150px;
    float: left;
}
#shortStory .bookContent{
    height: 200px;
    width: 260px;
    float: right;
}
#shortStory .bookPicturey  img{
    height:190px;
    width:150px;
    float: left;
    padding-left:9px;
    padding-top:5px;
}
#shortStory .contentTitle{
    height: 20%;
    width: 100%;
    font-size: 17px;
    padding-top: 17px;
} 
#shortStory .contentOutline{
    height: 60%;
    width:100%;
}
#shortStory .contentOutline p{
    height:80%;
    width:100%;
    margin: 8px auto;
  font-size: 14px;
  color: #988585;
  line-height: 25px;
  word-break: break-all;
  text-overflow: ellipsis;
  display: -webkit-box; /** 将对象作为伸缩盒子模型显示 **/
  -webkit-box-orient: vertical; /** 设置或检索伸缩盒对象的子元素的排列方式 **/
  -webkit-line-clamp: 4; /** 显示的行数 **/
  overflow: hidden;  /** 隐藏超出的内容 **/
}
#shortStory.contentState{
    height:10%;
    width:100%;
    font-size: 14px;
    color: black;
}

